body {
  background-image: url(background.jpeg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  display: block;
  background-color: grey;
  color: black;
  font-size: 30px;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a :hover {
  box-shadow: 0 4px 8px 0 #000000c2;
  transition: 0.3s;
}

.navbar:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.now_show {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  color: white;
  border-color: red;
  border-width: 5px;
}


img {
  border-radius: 5px 5px 0 0;
}

.container {
  margin: 10px;
  float: left;
  text-align: center;
  font-size: 20px;

}

.row {
  padding: 100px;
}

.card {
  float: left;
  padding: 50px;
}